<div class="container">
  <form class="control-form mt-4" name="control-form" action="/post/controlform" method="post">
    <div>
      <h3>My Post</h3>
    </div>

    <div class="control-area">
      <div class="control-area-left">
        <input hidden type="checkbox" class="post-check-all" id="postcheckall" autocomplete="off">
        <label class="label-check-all nav-btn" for="postcheckall">Select All</label>
        <button hidden class="delete-selected-item nav-btn btn btn-link" name="action" value="delete">
          Delete Selected Item
        </button>
      </div>
      <div class="control-area-right">
        <a class="nav-btn btn btn-link" href="/me/trash/posts">Trash [{{deletedCount}}]</a>
      </div>
    </div>

    <div class="post-group mt-1">
      <div class="rheader row">
        <span class="col-0-5">#</span>
        <span class="col-6">
          <span>Post Title</span>
          {{{sortable 'title' _sort}}}
        </span>
        <span class="col-2">
          <span>Author</span>
          {{{sortable 'author' _sort}}}
        </span>
        <span class="col-1-5">
          <span>Date</span>
          {{{sortable 'date' _sort}}}
        </span>
        <span class="col-2"></span>
      </div>
      {{#each posts}}
      <input hidden type="checkbox" class="post-check" id="postcheck{{sum @index 1}}" autocomplete="off"
        name="postIds[]" value="{{this._id}}">
      <label class="post-row rbody row" for="postcheck{{sum @index 1}}">
        <span class="col-0-5">{{sum @index 1}}</span>
        <span class="col-6">{{this.title}}</span>
        <span class="col-2">{{this.author}}</span>
        <span class="col-1-5">{{this.date}}</span>
        <span class="col-2">
          <a href="/post/{{this._id}}/edit" class="btn btn-link">Modify</a>
          <a href="" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#deletepostmodal"
            data-id="{{this._id}}" data-image="{{this.image}}" data-title="{{this.title}}" data-author="{{this.author}}"
            data-date="{{this.date}}">Delete</a>
        </span>
      </label>
      {{else}}
      <div class="rbody row">
        <span class="col-12 text-center">
          You don't have any post yet
          <a href="/post/create">Post Now</a>
        </span>
      </div>
      {{/each}}
    </div>
  </form>

  {{!-- Confirm delete post --}}
  <div class="modal fade" id="deletepostmodal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Delete Post</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to delete this post?</p>
          <div class="modal-wrapper">
            <div class="modal-image-wrapper">
              <img id="modal-image" src="" alt="">
            </div>
            <div class="modal-info">
              <p id="modal-title"></p>
              <p id="modal-author"></p>
              <p id="modal-date"></p>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" id="btn-delete-post" class="btn btn-primary">Yes</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
        </div>
      </div>
    </div>
  </div>
</div>

{{!-- Delete hidden form --}}
<form name="delete-post-form" method="POST"></form>

<style>
  [class*="col"] {
    display: flex;
    align-items: center;
    justify-content: unset;
  }

  .control-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .control-area-left,
  .control-area-right {
    display: flex;
    align-items: center;
  }

  .label-check-all {
    color: #333;
    padding: 4px 12px;
    border-radius: 5px;
    border: 1px solid transparent;
    user-select: none;
  }

  .delete-selected-item {
    padding: 4px 12px;
  }

  .rheader {
    font-weight: 700;
  }

  .rheader,
  .rbody {
    line-height: 42px;
    padding: 4px 0;
    border: 1px solid transparent;
    border-bottom: 1px solid #eeeeee;
    border-radius: 5px;
  }

  .rheader span,
  .rbody span {
    justify-content: center;
  }

  .rheader span:nth-child(2),
  .rbody span:nth-child(2) {
    justify-content: unset;
  }

  .nav-btn:hover,
  .rbody:hover {
    background-color: rgba(68, 202, 255, 0.12);
  }

  input[type=checkbox]:checked+label {
    background-color: rgba(68, 202, 255, 0.2);
    border: 1px solid rgba(68, 202, 255, 0.5);
  }

  input[type=checkbox]:checked+label+input[type=checkbox]:checked+label {
    border-top: 1px solid transparent;
  }

  .sort-btn {
    display: inline-flex;
    margin-left: 8px;
  }

  .sort-btn .icon {
    width: 16px;
    height: 16px;
  }


  .modal-body {}

  .modal-wrapper {
    display: flex;
    margin-top: 20px;
  }

  .btn-link,
  .nav-btn {
    text-decoration: none;
  }

  .modal-image-wrapper {
    width: 40%;
    overflow: hidden;
    position: relative;
    padding-top: 25%;
    border-radius: 8px;
  }

  #modal-image {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .modal-info {
    margin-left: 16px;
    width: 60%;
  }

  #modal-title {
    font-weight: 500;
    margin-bottom: 0.25rem;
  }

  #modal-author {
    margin-bottom: 0.25rem;
    font-style: italic;
  }

  #modal-date {
    margin-bottom: 0.25rem;
    font-style: italic;
  }
</style>

<script>
  var postId;
  var deleteForm = document.forms['delete-post-form'];
  var btnDeletePost = $('#btn-delete-post');

  var modalImage = $('#modal-image');
  var modalTitle = $('#modal-title');
  var modalAuthor = $('#modal-author');
  var modalDate = $('#modal-date');

  var checkboxAll = $('#postcheckall')
  var postItemCheckbox = $('input[name="postIds[]"]')
  var deleteSelectedBtn = $('.delete-selected-item')

  var controlForm = $('form.control-form')
  // When dialog confirm clicked
  $('#deletepostmodal').on('show.bs.modal', function (event) {
    var button = $(event.relatedTarget);
    modalImage.src = button.data('image');
    modalTitle.innerHTML = button.data('title');
    modalAuthor.innerHTML = button.data('author');
    modalDate.innerHTML = button.data('date');
    postId = button.data('id');
  });

  // When delete post btn clicked
  btnDeletePost.onclick = function () {
    deleteForm.action = '/post/' + postId + '?_method=DELETE';
    deleteForm.submit();
  }

  checkboxAll.change(function () {
    var isCheckedAll = $(this).prop('checked')
    postItemCheckbox.prop('checked', isCheckedAll)
    deleteSelectedBtn.prop('hidden', !isCheckedAll)
  })

  postItemCheckbox.change(() => {
    var itemChecked = $('input[name="postIds[]"]:checked').length
    var isCheckedAll = postItemCheckbox.length === itemChecked
    checkboxAll.prop('checked', isCheckedAll)

    var noSelected = itemChecked == 0
    deleteSelectedBtn.prop('hidden', noSelected)
  })
</script>